<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='Register SPPH/detail_Register SPPH.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <script src="script.js" defer></script>
  <style>
    .btn_wrapper {
      display: flex;
      gap: 10px;
    }
    .btn-approve {
      background-color: green;
      color: white;
      border: none;
      padding: 4px 8px;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 6px;
    }

    .btn-reject {
      background-color: red;
      color: white;
      border: none;
      padding: 4px 8px;
      border-radius: 4px;
      cursor: pointer;
    }

    .btn-batalkan {
      background-color: orange;
      color: white;
      border: none;
      padding: 4px 13px;
      border-radius: 4px;
      cursor: pointer;
    }
    .bx {
        font-size: 24px; /* Ubah ukuran ikon sesuai kebutuhan */
        color: #102d81; /* Ubah warna ikon sesuai kebutuhan */
        margin-right: 3px; /* Tambahkan jarak antara ikon */
      }
  </style>
  <title>Register SPPH</title>
    
</head>

<body>
  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="{{ url_for('static', filename='icon/bank-bri.jpg') }}" alt="logo_img" />
        </span>

        <div class="text logo-text">
          <span class="name">BRIMINDER</span>
          <span class="profession">KC BRI Teluk Betung</span>
        </div>
      </div>
      <i class='bx bx-chevron-right toggle'></i>
    </header>


    <div class="menu-bar">
      <div class="menu">

        <li class="search-box">
          <i class='bx bx-user-circle icon'></i>
          <a class="text nav-text">{{ session.level }} | {{ session.nama }}</a>
        </li>

        <ul class="menu-links">
          {% if session['level'] == 'Admin' : %}
          <li class="nav-link">
            <a href="/beranda">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Beranda</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/kelolauser">
              <i class='bx bxs-user-detail icon'></i>
              <span class="text nav-text">Kelola User</span>
            </a>
          </li>

          {% else %}
          <li class="nav-link">
            <a href="/beranda">
              <i class='bx bx-home-alt icon'></i>
              <span class="text nav-text">Beranda</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/restrukturisasi">
              <i class='bx bx-notepad icon'></i>
              <span class="text nav-text">Restrukturisasi</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="/register">
              <i class='bx bxs-file-plus icon'></i>
              <span class="text nav-text">Register</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="bottom-content">
        <li class="">
          <a href="/logout">
            <i class='bx bx-log-out icon'></i>
            <span class="text nav-text">Keluar</span>
          </a>
        </li>

        <li class="mode">
          <div class="sun-moon">
            <i class='bx bx-moon icon moon'></i>
            <i class='bx bx-sun icon sun'></i>
          </div>
          <span class="mode-text text">Dark mode</span>

          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li>
      </div>
    </div>
  </nav>


  <section class="home">

      <div class="head">
        <div class="bagianAtas">
          <div class="inline">
            
            <h2 class="jadwal">Register SPPH</h2>
            <div class="cari">
              <label htmlfor="cari" class="label-input"></label> 
              <div class="wrap-input">    
                <input type="text" class="input-field" placeholder="Cari No. SPPA" id="myInput" onkeyup="myFunction()"></input>
              </div>
            </div>
          </div>
            
          
            <div class="table">
              <a href="" >
                  

            
            <div>
              <a href="/register/spph/tambah">
              <button
                class="btn_tambah"
              >
                Tambah Data Debitur
              </button>
              </a>
            </div>

    <table id="myTable">
    <thead>
      <tr>
        <th>Nama Debitur</th>
        <th>Nomor SPPA</th>
        <th>Nomor Premi</th>
        <th>Jenis Pertanggungan</th>
        <th>Nilai Pertanggungan</th>
        <th>Jangka Waktu</th>
        <th>Setor Rp.</th>
        <th>Setor Tanggal</th>
        
        {% if session['level'] == 'Admin' %}
        <th>Status</th>
        <th>Validasi</th>
        {% else %}
        <th>Status</th>
        {% endif %}
        
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for spph in spph %}
      <tr>
        <td>{{ spph['NamaDebitur'] }}</td>
        <td>{{ spph['NomorSPPA'] }}</td>
        <td>{{ spph['premi'] }}</td>
        <td>{{ spph['JenisPertanggungan'] }}</td>
        <td>{{ spph['NilaiPertanggungan'] }}</td>
        <td>{{ spph['JangkaWaktu'] }}</td>
        <td>{{ spph['SetorRp'] }}</td>
        <td>{{ spph['SetorTanggal'] }}</td>
        <td>{{ spph['Status'] }}</td>
        <td>
          {% if session['level'] == 'Admin' %}
          {% if spph['Status'] == 'Belum Divalidasi' %}
          <div class="btn_wrapper">
          <form action="{{ url_for('approve_spph', premi=spph['premi']) }}" method="post" style="display: inline;">
            <button type="submit" name="status" value="Approve" class="btn-approve">Approve</button>
          </form>
          
          <form action="{{ url_for('reject_spph', premi=spph['premi']) }}" method="post" style="display: inline;">
            <button type="submit" name="status" value="Reject" class="btn-reject">Reject</button>
          </form>
          </div>
          {% elif spph['Status'] == 'Disetujui' or spph['Status'] == 'Ditolak' %}
          <form action="{{ url_for('batalkan_validasi_spph', premi=spph['premi']) }}" method="post" style="display: inline;">
            <button type="submit" name="status" value="Batalkan Validasi" class="btn-batalkan">Batalkan Validasi</button>
          </form>
          
          {% endif %}
          {% else %}
          {{ spph['Status'] }}
          {% endif %}
        </td>
        <td>
          <a href="/register/spph/edit/{{ spph['premi'] }}"class="bx">
            <i class="bx bx-edit"></i>
          </a>
          <a href="/register/spph/hapus/{{ spph['premi'] }}" class="bx">
            <i class="bx bx-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</section>


  <script>
    const body = document.querySelector('body'),
  sidebar = body.querySelector('nav'),
  toggle = body.querySelector(".toggle"),
  searchBtn = body.querySelector(".search-box"),
  modeSwitch = body.querySelector(".toggle-switch"),
  modeText = body.querySelector(".mode-text");
  
  
  toggle.addEventListener("click" , () =>{
  sidebar.classList.toggle("close");
  })
  
  searchBtn.addEventListener("click" , () =>{
  sidebar.classList.remove("close");
  })
  
  modeSwitch.addEventListener("click" , () =>{
  body.classList.toggle("dark");
  
  if(body.classList.contains("dark")){
    modeText.innerText = "Light mode";
  }else{
    modeText.innerText = "Dark mode";
    
  }
  });
  </script>
  
  
  
  
  <script>
  function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
  }
  </script>
  
  </html>
  
  
  