<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='beranda.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Beranda</title>
</head>

<body>
  <div class="body">
    <div class="sidebar">
      <header class="header">BRI-Minder</header>
      <ul class="ul">
        <li>
          <a href="/beranda" class="active">
            <img src="{{ url_for('static', filename='icon/berandabiru.png') }}" />
            <p>BERANDA</p>
          </a>
        </li>
        <li>
          <a href="/restrukturisasi">
            <img src="{{ url_for('static', filename='icon/restrukputih.png') }}"  />
            <p>RESTRUKTURISASI</p>
          </a>
        </li>
        <li>
          <a href="/register" >
            <img src="{{ url_for('static', filename='icon/registerputih.png') }}"  />
            <p>REGISTER</p>
          </a>
        </li>
        <li>
          <a href="/logout">
            <img src="{{ url_for('static', filename='icon/exitputih.png') }}"
             />
            <p>KELUAR</p>
          </a>
      </ul>
    </div>

    <div class="head">
      <div class="Logo">
        <img class="logo" src="{{ url_for('static', filename='icon/logo.png') }}"/>
        <h2 class="logoTxt">BRI-Minder</h2>
      </div>
      
  </div>
</body>
</html>