<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='daftarregister.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Daftar Register</title>
</head>
<body>
  <div class="body">
    <div class="sidebar">
      <header class="header">BRI-Minder</header>
      <ul class="ul">
        
        <li>
          <a href="/beranda" >
            <img
              src="{{ url_for('static', filename='icon/berandaputih.png') }}"
               />
            <p>BERANDA</p>
          </a>
        </li>
        <li>
          <a href="/restrukturisasi">
            <img src="{{ url_for('static', filename='icon/restrukputih.png') }}"  />
            <p>RESTRUKTURISASI</p>
          </a>
        </li>
        <li>
          <a href="/register" class="active">
            <img src="{{ url_for('static', filename='icon/registerbiru.png') }}"  />
            <p>REGISTER</p>
          </a>
        </li>
        <li>
          <a href="/logout" >
            <img src="{{ url_for('static', filename='icon/exitputih.png') }}"  />
            <p>KELUAR</p>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="head">
      <div class="wrap-bagianAtas">
        <div class="bagianAtas">
          <h2>Pilih Jenis Register</h2>
        </div>
      </div>
  
      <div class="wrap-table">
        <form action="{{ url_for('register') }}" method="POST" id="form">
          <div class="wrap-input">
            <label htmlfor="tindakan" class="label-input">
              Daftar Register
            </label>
            <select name="tindakan" id="tindakan" class="input-field" required onfocus='this.size=z;'  >
              <option value="" disabled selected hidden>
                Pilih Register
              </option>
              <option value="register1">IPK Restruk</a></option>              
              <option value="register2">PNND</option>
              <option value="register3">Register PTK Restruk 2 Penyelesaian</option>
              <option value="register4">Register ASS Kerugian</option>
              <option value="register5">Register Blokir Kecil_Program</option>
              <option value="register6">Register BPJS TK</option>
              <option value="register7">Register BPKB yang Dipinjam</option>
              <option value="register8">Register IPK</option>
              <option value="register9">Register Jasa Konsultasi</option>
              <option value="register10">Register KKB & COP ANGKRINGAN</option>
              <option value="register11">Register KMK_WA</option>
              <option value="register12">Register KPR Bangun</option>
              <option value="register13">Register NAS dan Bridyna</option>
              <option value="register14">Register Register Peminjaman Berkas 1</option>
              <option value="register15">Register Pencairan Dana Ditahan</option>
              <option value="register16">Register PK Konsumer</option>
              <option value="register17">Register PPND</option>
              <option value="register18">Register PTK</option>              
              <option value="register19">Register PTK(Putusan Kredit)</option>
              <option value="register20">Register Roya</option>
              <option value="register21">Register Roya&KKB</option>
              <option value="register22">Register Slik</option>
              <option value="register23">Register SPPH</option>
              <option value="register24">Register TBNK</option>
              <option value="register25">Register TTS Notaris</option>
              <option value="register26">Register Verifikasi Berkas</option>
              <option value="register27">Register Persekot Interen</option>
            </select>
            <button type="submit" class="btn-ubah" value="Pilih" name="button_tambah_data">Pilih</button>
            <!-- </form> -->
          </div>
        </form>
        </div>
      </div>
    </div>
</body>
</html>