<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='detaildebitur.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Detail Debitur</title>
</head>

    
<body>
  <div class="body">
    <div class="sidebar">
      <header class="header">BRI-Minder</header>
      <ul class="ul">
        
        <li>
          <a href="/beranda" >
            <img
              src="{{ url_for('static', filename='icon/berandaputih.png') }}"
               />
            <p>BERANDA</p>
          </a>
        </li>
        <li>
          <a href="/restrukturisasi"" class="active">
            <img src="{{ url_for('static', filename='icon/restrukbiru.png') }}"  />
            <p>RESTRUKTURISASI</p>
          </a>
        </li>
        <li>
          <a href="/register" >
            <img src="{{ url_for('static', filename='icon/registerputih.png') }}"  />
            <p>REGISTER</p>
          </a>
        </li>
        <li>
          <a href="/logout" >
            <img src="{{ url_for('static', filename='icon/exitputih.png') }}"  />
            <p>KELUAR</p>
          </a>
        </li>
      </ul>
    </div>
      <div class="head">
        <div class="bagianAtas">
          <div class="inline">
            <a href="/notifikasi/vewnotif"><img class="back"
              src="https://img.icons8.com/ios-filled/20/102d81/long-arrow-left.png"/> 
            </a>
            
            <h2>Detail Debitur</h2>  
            <div style="margin: 0px 0 0 800px;width: 10px">
               <p>
                  <a href="{{ url_for('.download_report') }}">Download</a>
              </p>

              </p>
                  </div>
          </div>
          
          <div class="notif">
            {% for detaildebitur in detaildebitur %}
            <table>
              <tr>
                <th>Nama Debitur </th>
                <td>: {{detaildebitur ['namadebitur'] }}</td>
              </tr>
              <tr>
                <th>Jenis Kredit </th>
                <td>: {{detaildebitur ['jeniskredit'] }}</td>
              </tr>
              <tr>
                <th>No. Rekening </th>
                <td>: {{detaildebitur ['norek'] }}</td>
              </tr>
              <tr>
                <th>Tanggal Akad </th>
                <td>: {{detaildebitur ['akad'] }}</td>
              </tr>
              <tr>
                <th>Tanggal Jatuh Tempo </th>
                <td>: {{detaildebitur ['jadwaltempo'] }}</td>
              </tr>
              <tr>
                <th>Baki Debet </th>
                <td>: {{detaildebitur ['bakidebet'] }}</td>
              </tr>
              <tr>
                <th>RM </th>
                <td>: {{detaildebitur ['rm'] }}</td>
              </tr>
              <tr>
                <th>Jangka Waktu </th>
                <td>: {{detaildebitur ['jangkawaktu'] }}</td>
              </tr>
              <tr>
                <th>Suku Bunga </th>
                <td>   {{ detaildebitur['sbaw1'] }} - {{ detaildebitur['sbak1'] }} {{ detaildebitur['sbp1'] }} % <br>
                    :  {{ detaildebitur['sbaw2'] }} - {{ detaildebitur['sbak2'] }} {{ detaildebitur['sbp2'] }} % <br>
                       {{ detaildebitur['sbaw3'] }} - {{ detaildebitur['sbak3'] }} {{ detaildebitur['sbp3'] }} %</td>
              </tr>
              <tr>
                <th>BAP </th>
                <td>: {{detaildebitur ['bap'] }}</td>
              </tr>
              <tr>
                <th>Jadwal Pokok</th>
                <td>: {{detaildebitur ['jadwalpokok'] }}</td>
              </tr> 
            {% endfor %}  
          </div>  

        </div>
      </div>
    </div>
</body>
</html>