<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='editdebitur.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
  <title>Tambah Data Debitur</title>
</head>
<body>
  <script>
    $(document).ready(function() {
    
    var MaxInputs       = 8; //maximum input boxes allowed
    var InputsWrapper   = $("#InputsWrapper"); //Input boxes wrapper ID
    var AddButton       = $("#AddMoreFileBox"); //Add button ID
    
    var x = InputsWrapper.length; //initlal text box count
    var FieldCount=1; //to keep track of text box added
    
    $(AddButton).click(function (e)  //on add input button click
    {
            if(x <= MaxInputs) //max input box allowed
            {
                FieldCount++; //text box added increment
                //add input box
                $(InputsWrapper).append('<div class="row"><p class="col-xs-6"><input type="text" placeholder="Enter your skill" class="form-control skill_list" name="skill[]" id="field_'+ FieldCount +'" value="Enter your skill '+ FieldCount +'"/></p><a href="#" class="btn btn-danger removeclass">×</a></div>');
                x++; //text box increment
            }
    return false;
    });
    
    $("body").on("click",".removeclass", function(e){ //user click on remove text
            if( x > 1 ) {
                    $(this).parent('div').remove(); //remove text box
                    x--; //decrement textbox
            }
    return false;
    })
    $('#submit').click(function(){            
            $.ajax({  
                    url:"/postskill",  
                    method:"POST",  
                    data:$('#add_skills').serialize(),  
                    success:function(data)  
                    {  alert(data)
                        $('#resultbox').html(data);  
                        $('#add_skills')[0].reset();  
                    }  
            });  
        }); 
    });
  </script>
  <div class="body">
    <div class="sidebar">
      <header class="header">BRI-Minder</header>
      <ul class="ul">
        
        <li>
          <a href="/beranda" >
            <img
              src="https://img.icons8.com/windows/48/FFFFFF/home-page.png"
               />
            <p>BERANDA</p>
          </a>
        </li>
        <li>
          <a href="/restrukturisasi" class="active">
            <img src="https://img.icons8.com/ios/45/102d81/overtime.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>RESTRUKTURISASI</p>
          </a>
        </li>
        <li>
          <a href="" >
            <img src="https://img.icons8.com/external-outline-geotatah/48/FFFFFF/external-register-training-management-system-outline-geotatah.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>REGISTER</p>
          </a>
        </li>
        <li>
          <a href="/logout" >
            <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>KELUAR</p>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="head">
      <div class="wrap-bagianAtas">
        <div class="bagianAtas">
          <h2>Form Penambahan Data Debitur</h2>
        </div>
      </div>
  
      <div class="wrap-table">
        <form action="{{ url_for('tambahdebitur') }}" method="POST" id="form">
          <div class="wrap-input">
            <label htmlfor="nama_debitur" class="label-input">
              Nama Debitur
            </label>
            <input type="text" class="input-field" name="nama_debitur" value=""/>
          </div>
          <div class="flex-input">
            <div class="wrap-input">
              <label htmlfor="no_rekening" class="label-input">
                No.Rekening
              </label>
              <input type="text" class="input-field" name="no_rekening" value=""/>
            </div>
            <div class="wrap-input">
              <label htmlfor="jenis_kredit" class="label-input">
                Jenis Kredit
              </label>
              <input type="text" class="input-field" name="jenis_kredit" value=""/>
            </div>
          </div>
          <div class="flex-input">
            <div class="wrap-input">
              <label htmlfor="baki_debet" class="label-input">
                Baki Debet
              </label>
              <input type="text" name="baki_debet" id="baki_debet"  class="input-field" value="">
            </div>
            <div class="wrap-input">
              <label htmlfor="rm" class="label-input">
                RM (Pengelola)
              </label>
              <input type="text" class="input-field" name="rm" value=""/>
            </div>
          </div>

          <div class="wrap-input">
            <label htmlfor="jangkawaktu" class="label-input">
              Jangka Waktu
            </label>
            <input type="text" class="input-field" name="jangkawaktu" value=""/>
          </div>
            
          <div class="wrap-input">
            <label htmlfor="jadwal_pokok" class="label-input">
             Jadwal Pokok
            </label>
            <input type="text" class="input-field" name="jadwal_pokok" value=""/>
          </div>

          <div class="wrap-input">
            <label htmlfor="sukubunga" class="label-input">
             Suku Bunga
            </label>
            <div class="sb"> 
              <input type="text" class="input-fieldsb" name="sbaw1" placeholder="Bulan"/>
              <input type="text" class="input-fieldsb" name="sbak1" placeholder="Bulan"/>
              <input type="text" class="input-fieldsb" name="sbp1" placeholder="Persen"/>
            </div>
            <div class="sb">
              <input type="text" class="input-fieldsb" name="sbaw2" placeholder="Bulan"/>
              <input type="text" class="input-fieldsb" name="sbak2" placeholder="Bulan"/>
              <input type="text" class="input-fieldsb" name="sbp2" placeholder="Persen"/>
            </div>
            <div class="sb">
              <input type="text" class="input-fieldsb" name="sbaw3" placeholder="Bulan"/>
              <input type="text" class="input-fieldsb" name="sbak3" placeholder="Bulan"/>
              <input type="text" class="input-fieldsb" name="sbp3" placeholder="Persen"/>
            </div>
          </div>

          <!-- <div class="wrap-input">
            <label htmlfor="sukubunga" class="label-input">
              Suku Bunga
            </label>
            <div name="add_skills" id="add_skills" class="add_skills">
              <div id="InputsWrapper" class="InputsWrapper">
                <input type="text" name="skill[]" placeholder="Enter your skill" class="form-control" />
                <button type="button" name="add" id="AddMoreFileBox" class="btn-success">Add More</button>
              </div>
            </div>
          </div>  -->

          <div class="wrap-input">
            <label htmlfor="jadwal_jatuh_tempo" class="label-input">
              Jatuh Tempo
            </label>
            <input type="date" class="input-field" name="jadwal_jatuh_tempo" value=""/>
          </div>

          <div class="wrap-input">
            <label htmlfor="akad" class="label-input">
              Akad 
            </label>
            <input type="date" class="input-field" name="akad"/>
             
          </div>

          <div class="wrap-input">
            <label htmlfor="keterangan" class="label-input">
              BAP
            </label>
            <textarea type="text" class="input-field" name="keterangan" placeholder="Masukkan Keterangan" form="form"></textarea>
          </div>

          <div class="wrap-input">
            <label htmlfor="ksb1" class="ksb1">
              BAP
            </label>
            <textarea type="text" class="ksb1" name="ksb1" placeholder="" form="form"></textarea>
          </div>

          <div class="wrap-input">
            <label htmlfor="ksb2" class="ksb2">
              BAP
            </label>
            <textarea type="text" class="ksb2" name="ksb2" placeholder="" form="form"></textarea>
          </div>

          <div class="wrap-input">
            <label htmlfor="ksb3" class="ksb3">
              BAP
            </label>
            <textarea type="text" class="ksb3" name="ksb3" placeholder="" form="form"></textarea>
          </div>

          <div class="wrap-input">
            <label htmlfor="dt" class="dt">
              BAP
            </label>
            <textarea type="text" class="dt" name="dt" placeholder="" form="form"></textarea>
          </div>

          <p class="msg">{{ msg }}</p>
            <input type="submit" class="btn-ubah" value="Tambah Data" name="button_tambah_data"/>
        </form>
        </div>
      </div>
    </div>
</body>
</html>