<!DOCTYPE html>
<html>
<head>
    <title>Ganti Password</title>
</head>
<body>
    <h1>Ganti Password</h1>

    <form method="post" action="/gantipassword/{{nama}}">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" value="{{nama}}">
  
      <label for="new_password">New Password:</label>
      <input type="password" id="new_password" name="new_password">
  
      <label for="confirm_password">Confirm Password:</label>
      <input type="password" id="confirm_password" name="confirm_password">
  
      <input type="submit" value="Change Password">

    </form>
</body>
</html>
