<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='jadwalrestruk.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Daftar Debitur</title>
</head>

<body>

  <div class="body">
    <div class="sidebar">
      <header class="header">BRI-Minder</header>
      <ul class="ul">
        
        <li>
          <a href="/beranda" >
            <img
              src="{{ url_for('static', filename='icon/berandaputih.png') }}"
               />
            <p>BERANDA</p>
          </a>
        </li>
        <li>
          <a href="/restrukturisasi" class="active">
            <img src="{{ url_for('static', filename='icon/restrukbiru.png') }}"  />
            <p>RESTRUKTURISASI</p>
          </a>
        </li>
        <li>
          <a href="/register" >
            <img src="{{ url_for('static', filename='icon/registerputih.png') }}"  />
            <p>REGISTER</p>
          </a>
        </li>
        <li>
          <a href="/logout" >
            <img src="{{ url_for('static', filename='icon/exitputih.png') }}"  />
            <p>KELUAR</p>
          </a>
        </li>
      </ul>
    </div>
      <div class="head">
        <div class="bagianAtas">
          <div class="inline">
            
            <h2 class="jadwal">Jadwal Restrukturisasi</h2>
            <a href="/notifikasi" >
              <button type="button" class="icon-button" href>
                <img src="https://img.icons8.com/fluency/30/bell.png"/>
                <span class="icon-button__badge">{{notif}}</span>
              </button>
            </a>
            <label htmlfor="cari" class="label-input"></label> 
            <div class="wrap-input">    
              <input type="text" class="input-field" placeholder="Cari Berdasarkan Nama" id="myInput" onkeyup="myFunction()"></input>
            </div>
          </div>
            
          
          <div class="table">
            <a href="" >
                  

            
            <div>
              <a href="/tambahdebitur">
              <button
                class="btn_tambah"
              >
                Tambah Data Debitur
              </button>
              </a>
            </div>
            <table id="myTable">
              <thead>
                <tr>
                  <th>Nama Debitur</th>                
                  <th>No.Rekening</th>
                  <th>Jenis Kredit</th> 
                  <th>Baki Debet</th> 
                  <th>RM</th>   
                  <th>Jangka Waktu</th>  
                  <th>Suku Bunga</th>               
                  <th>Jadwal Pokok</th>
                  <th>Jatuh Tempo</th>
                  <th>Akad</th>
                  <th>BAP</th>
                  <th>Aksi</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for datadebitur in datadebitur %}
                  <tr>
                    <td>{{ datadebitur['namadebitur'] }}</td>
                    <td>{{ datadebitur['norek'] }}</td>
                    <td>{{ datadebitur['jeniskredit'] }}</td>
                    <td>{{ datadebitur['bakidebet'] }}</td>
                    <td>{{ datadebitur['rm'] }}</td>
                    <td>{{ datadebitur['jangkawaktu'] }}</td>
                    <td>
                      {{ datadebitur['sbaw1'] }} - {{ datadebitur['sbak1'] }} {{ datadebitur['sbp1'] }} % <br>
                      {{ datadebitur['sbaw2'] }} - {{ datadebitur['sbak2'] }} {{ datadebitur['sbp2'] }} % <br>
                      {{ datadebitur['sbaw3'] }} - {{ datadebitur['sbak3'] }} {{ datadebitur['sbp3'] }} %
                    </td>
                    <!-- <td>{{ datadebitur['sbaw2'] }} - {{ datadebitur['sbak2'] }} {{ datadebitur['sbp2'] }}</td>
                    <td>{{ datadebitur['sbaw3'] }} - {{ datadebitur['sbak3'] }} {{ datadebitur['sbp3'] }}</td> -->
                    <td>{{ datadebitur['jadwalpokok'] }}</td>
                    <td>{{ datadebitur['jadwaltempo'] }}</td>
                    <td>{{ datadebitur['akad'] }}</td>
                    <td>{{ datadebitur['bap'] }}</td>
                    <td>
                      <a href="/restrukturisasi/detail/{{ datadebitur['norek'] }}" >
                      <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/20/102d81/external-view-multimedia-kiranshastry-lineal-color-kiranshastry.png"/>
                      </a>
                      <a href="/restrukturisasi/debiturhapus/{{ datadebitur['norek'] }}">
                      <img src="https://img.icons8.com/pix/20/102d81/experimental-delete-pix.png"/>
                      </a>
                      <a href="/restrukturisasi/editdebitur/{{ datadebitur['norek'] }}">
                      <img src="https://img.icons8.com/ios-filled/20/102d81/edit--v1.png"/>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>

<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
</html>