<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='jadwalrestruk.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    
</head>

<body>

  <div class="body">
    <div class="sidebar">
      <header class="header">BRI-Minder</header>
      <ul class="ul">
        
        <li>
          <a href="/beranda" >
            <img
              src="https://img.icons8.com/windows/48/FFFFFF/home-page.png"
               />
            <p>BERANDA</p>
          </a>
        </li>
        <li>
          <a href="/restrukturisasi" class="active">
            <img src="https://img.icons8.com/ios/45/102d81/overtime.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>RESTRUKTURISASI</p>
          </a>
        </li>
        <li>
          <a href="" >
            <img src="https://img.icons8.com/external-outline-geotatah/48/FFFFFF/external-register-training-management-system-outline-geotatah.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>REGISTER</p>
          </a>
        </li>
        <li>
          <a href="/logout" >
            <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>KELUAR</p>
          </a>
        </li>
      </ul>
    </div>
      <div class="head">
        <div class="bagianAtas">
          <div class="inline">
            
            <h2 class="jadwal">Jadwal Restrukturisasi</h2>
            <a href="/notifikasi" >
              <button type="button" class="icon-button" href>
                <img src="https://img.icons8.com/fluency/30/bell.png"/>
                <span class="icon-button__badge">3</span>
              </button>
            </a>
            <label htmlfor="cari" class="label-input"></label> 
            <div class="wrap-input">    
              <input type="text" class="input-field" name="cari" placeholder="Cari Debitur" form="form"></input>
            </div>
          </div>
            
          
            <div class="table">
              <a href="" >
                  

            
            <div>
              <a href="/tambahdebitur">
              <button
                class="btn_tambah"
              >
                Tambah Data Debitur
              </button>
              </a>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Nama Debitur</th>                
                  <th>No.Rekening</th>
                  <th>Jenis Kredit</th> 
                  <th>Baki Debet</th> 
                  <th>RM</th>   
                  <th>Jangka Waktu</th>  
                  <th>Suku Bunga 1</th>   
                  <th>Suku Bunga 2</th>   
                  <th>Suku Bunga 3</th>                
                  <th>Jadwal Pokok</th>
                  <th>Jatuh Tempo</th>
                  <th>Akad</th>
                  <th>BAP</th>
                  <th>Aksi</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for datadebitur in datadebitur %}
                  <tr>
                    <td>{{ datadebitur['namadebitur'] }}</td>
                    <td>{{ datadebitur['norek'] }}</td>
                    <td>{{ datadebitur['jeniskredit'] }}</td>
                    <td>{{ datadebitur['bakidebet'] }}</td>
                    <td>{{ datadebitur['rm'] }}</td>
                    <td>{{ datadebitur['jangkawaktu'] }}</td>
                    <td>{{ datadebitur['sbaw1'] }} - {{ datadebitur['sbak1'] }} {{ datadebitur['sbp1'] }}</td>
                    <td>{{ datadebitur['sbaw2'] }} - {{ datadebitur['sbak2'] }} {{ datadebitur['sbp2'] }}</td>
                    <td>{{ datadebitur['sbaw3'] }} - {{ datadebitur['sbak3'] }} {{ datadebitur['sbp3'] }}</td>
                    <td>{{ datadebitur['jadwalpokok'] }}</td>
                    <td>{{ datadebitur['jadwaltempo'] }}</td>
                    <td>{{ datadebitur['akad'] }}</td>
                    <td>{{ datadebitur['bap'] }}</td>
                    <td>
                      <form class="aksi" action="{{ url_for('debiturhapus', norek = datadebitur['norek']) }}" method="POST">
                        <button class="btn_hapus" >
                          <img src="https://img.icons8.com/pix/20/FFFFFF/experimental-delete-pix.png"/>
                        </button>
                      </form>
                    </td>
                  </tr>
                {% endfor %}
                <!-- <tr>
                  <td>KMK CO TETAP</td>
                  <td>Okta Sihombing</td>
                  <td>0285.01.055266.10.2</td>
                  <td>26/10/2021</td>
                  <td>26/10/2021</td>
                  <td>200.000.000</td>
                  <td>17</td>
                  <td>1-12, 9%</td>
                  <td>xxx</td>
                  <td>xxx</td>
                  <td>
                    <a href="" >
                      <img
                        src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/20/102d81/external-view-multimedia-kiranshastry-lineal-color-kiranshastry.png"
                         />  
                      <img
                        src="https://img.icons8.com/material-sharp/20/102d81/edit--v1.png"
                      />                      
                    </a>  
                 </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>
</html>