<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <title>Registrasi</title>
</head>

<body>
    <div class="container">
      <div class="wrap-gambar">
        <img class="gambar" src="{{ url_for('static', filename='backlogin.jpg') }}">
      <div class="login">
        <div class="div2">
          <h1>SIGN IN</h1>
          <form action="{{ url_for('registrasi') }}" method="post">
            <div class="wrap-input">
              <label htmlfor="nama" class="label-input">Nama</label><br />
              <input type="text" name="nama" class="input" placeholder="Nama" />
            </div>
            <div class="wrap-input">
              <label htmlfor="username" class="label-input">Username</label><br />
              <input type="text" name="username" class="input" placeholder="Username" />
            </div>
            <div class="wrap-input">
              <label htmlfor="password" class="label-input">Password</label><br />
              <input type="password" name="password" class="input" placeholder="Password" />
            </div>
            <p class="msg">{{ msg }}</p>
            <input type="submit" value="SIGN IN" class="button" />
            <a href="{{ url_for('login') }}">
              <input type="button" value="LOG IN" class="button"/>
            </a> 
          </form>
        </div>
      </div>
    </div>
    </div>
</body>

</html>