@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
.body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.body .sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 340px;
  height: 100%;
  background: #102d81;
}
.body .sidebar {
  position: fixed;
  left: 0px;
  top: 0;
  width: 340px;
  height: 100%;
  background: #9cb3f7;
  
  
}
.body .sidebar .header { 
  width: 10px;
  height: 30px;
  bottom: 40px;
  
}
.body .sidebar .header .gambar{ 
  width: 330px;
  height: 330px;
  padding-top: 370px;
  
}

.body .sidebar ul li {
  list-style-type: none;
}
.body .sidebar ul a {
  display: block;
  height: 80px;
  width: 100%;
  line-height: 70px;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.4s;
  padding-left: 10px;
  border-radius: 80px;
  list-style: none;
  text-decoration: none;
}
.body .sidebar ul li:hover a {
  padding-left: 20px;
}
.body .sidebar .active {
  font-weight: bold;
  background-color: #fff;
  color: #102d81;
}
.body .sidebar img {
  padding-top: 10px;
}
.body .sidebar p {
  margin-top: -80px;
  padding-left: 60px;
}
.body .head {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  width: calc(100% - 340px);
  height: 100%;
  top: 0;
  right: 0;
  background-color: #eee;
  margin-left: 20%;
  position: absolute;
}
.body .head::-webkit-scrollbar {
  display: none;
}
.body .head .wrap-bagianAtas {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f9f9f9;
  height: 15%;
}
.body .head .wrap-bagianAtas .bagianAtas {
  color: #102d81;
  width: 50%;
  margin-left: 30px;
  align-items: center;
  align-self: center;
  height: 8vh;
  font-size: 1em;
}
.body .head .table-bordered {
  margin-left: 10%;
  align-items: center;
  width: 60%;
}
.body .head .table-bordered tbody tr:nth-child(odd) {
  background-color: #fff;
}
.body .head .table-bordered thead {
  margin-right: 80%;
}
.body .head .table-bordered th {
  font-size: 1.2em;
  font-weight: bold;
  color: #102d81;
}
.body .head .table-bordered tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
.body .head .wrap-table {
  padding-top: 5px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.body .head .wrap-table .flex-input {
  display: flex;
  align-items: stretch;
  width: 95%;
  
}

.body .head .wrap-table .wrap-input {
  display: grid;
  width: 100%;
  padding-top: 20px;
}

.body .head .wrap-table .wrap-input .label-input {
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #102d81;
}

.body .head .wrap-table .wrap-input .sb {
  display: inline;
  margin-bottom: 20px;
}

.body .head .wrap-table .wrap-input .sb .input-fieldsb {
  background-color: #F5F5F5;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #102d81;
  width: 10%;
  margin-left: 20px;
  margin-right: 0px;
  padding-left: 10px;
}
.mainDiv {
  display: flex;
  min-height: 20%;
  align-items: center;
  padding-bottom: 400px;
  justify-content: center;
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}
.cardStyle {
  width: 500px;
  border-color: white;
  background: #fff;
  padding: 36px 0;
  border-radius: 4px;
  margin: 30px 0;
  box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
}
#signupLogo {
max-height: 100px;
margin: auto;
display: flex;
flex-direction: column;
}
.formTitle{
font-weight: 600;
margin-top: 20px;
color: #3421a1;
text-align: center;
}
.inputLabel {
font-size: 12px;
color: #555;
margin-bottom: 6px;
margin-top: 24px;
}
.inputDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
input {
height: 40px;
font-size: 16px;
border-radius: 4px;
border: none;
border: solid 1px #ccc;
padding: 0 11px;
}
input:disabled {
cursor: not-allowed;
border: solid 1px #eee;
}
.buttonWrapper {
margin-top: 40px;
}
.submitButton {
  width: 70%;
  height: 40px;
  margin: auto;
  display: block;
  color: #fff;
  background-color: #065492;
  border-color: #065492;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
.submitButton:disabled,
button[disabled] {
border: 1px solid #cccccc;
background-color: #cccccc;
color: #666666;
}

#loader {
position: absolute;
z-index: 1;
margin: -2px 0 0 10px;
border: 4px solid #f3f3f3;
border-radius: 50%;
border-top: 4px solid #666666;
width: 14px;
height: 14px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}