.container {
  font-family: "Roboto", sans-serif;
  background-size: cover;
  height: 100%;
  width: 60%;
  position: fixed;
  top: 0;
  overflow-y: "hidden";
  left: 0;
}
.container ::-webkit-scrollbar {
  display: none;
}
.container .wrap-gambar {
  display: flex;
  flex-direction: row;
  width: 190%;
  height: 100%;
  background-color: #102D81;
}
.container .login {
  width: 100%;
  margin-left: 3%;
  padding-top: 8%;
}
.container .div2 .label-input {
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #ffffff;
  
}
.container .div2 .button {
  background-color: #173797;
  border-color: #8596eb;
  color: white;
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  width: 50%;
  border-radius: 90px;

}
.container .div2 .input {
  background-color: #eaefff;
  border-color: #3b4ea4;
  color: #102D81;
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  width: 45%;
  border-radius: 90px;
}
.container .gambar {
  display: flex;
  width: 100%;
  height: 100%;
}