<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='RegisterPersekotInteren/edit_RegisterPersekotInteren.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Register Persekot Interen Khusus ADK</title>
</head>
<body>
  <div class="body">
    <div class="sidebar">
      <header class="header">BRI-Minder</header>
      <ul class="ul">
        
        <li>
          <a href="/beranda" >
            <img
              src="https://img.icons8.com/windows/48/FFFFFF/home-page.png"
               />
            <p>BERANDA</p>
          </a>
        </li>
        <li>
          <a href="/restrukturisasi" >
            <img src="https://img.icons8.com/ios/45/FFFFFF/overtime.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>RESTRUKTURISASI</p>
          </a>
        </li>
        <li>
          <a href="/register/adk"class="active" >
            <img src="https://img.icons8.com/external-outline-geotatah/48/102d81/external-register-training-management-system-outline-geotatah.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>REGISTER</p>
          </a>
        </li>
        <li>
          <a href="/logout" >
            <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>KELUAR</p>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="head">
      <div class="wrap-bagianAtas">
        <div class="bagianAtas">
          <h2>Edit Data Debitur ( Register Persekot Interen Khusus ADK)</h2>
        </div>
      </div>
  
      <div class="wrap-table">
        <form action="" method="POST" id="form">
          <div class="wrap-input">
            <label htmlfor="tanggal" class="label-input">
              Tanggal
            </label>
            <input type="date" class="input-field" name="tanggal" value="{{ editadk['Tanggal'] }}"/>
          </div>
          <div class="wrap-input">
            <label htmlfor="keterangan" class="label-input">
                Keterangan
              </label>
              <textarea name="keterangan" id="" cols="30" rows="10" class="input-field">{{ editadk['Keterangan'] }}</textarea>
            </div>
          <div class="flex-input">
            <div class="wrap-input">
              <label htmlfor="rp" class="label-input">
                Rp. 
              </label>
              <input type="text" class="input-field"  name="rp" value="{{ editadk['Rp'] }}"/>
            </div>
            
            <div class="wrap-input">
              <label htmlfor="Pengambilan" class="label-input">
                Pengambilan
              </label>
              <input type="text" class="input-field"  name="Pengambilan" value="{{ editadk['Pengambilan'] }}"/>
            </div>
          </div>
          <div class="wrap-input">
            <label htmlfor="Tanggal Pengambilan" class="label-input">
                Tanggal Pengambilan
                </label>
            <input type="date" class="input-field" name="Tanggal Pengambilan" value="{{ editadk['TanggalPengambilan'] }}"/>
        </div>
          <div class="flex-input">
            <div class="wrap-input">
              <label htmlfor="saldo_akhir" class="label-input">
               Saldo Akhir
              </label>
              <input type="text" name="saldo_akhir" id="saldo_akhir"  class="input-field" value="{{ editadk['SaldoAkhir'] }}" >
            </div>
          </div>
            

            <input type="submit" class="btn-ubah" value="Selesai" name="button_tambah_data"/>
        </form>
        </div>
      </div>
    </div>
</body>
</html>