<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='Register IPK/edit_RegisterIPK.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
  <link rel="stylesheet" href="style.css">
    
    <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <!--<title>Dashboard Sidebar Menu</title>--> 
  <title>Register IPK (Intruksi Pencairan Kredit)</title>

</head>
<body>
  <nav class="sidebar close">
      <header>
          <div class="image-text">
              <span class="image">
                <img src="{{ url_for('static', filename='icon/bank-bri.jpg') }}" alt="logo_img" />
              </span>

              <div class="text logo-text">
                  <span class="name">BRIMINDER</span>
                  <span class="profession">KC BRI Teluk Betung</span>
              </div>
          </div>

          <i class='bx bx-chevron-right toggle'></i>
      </header>

      <div class="menu-bar">
          <div class="menu">

              <li class="search-box">
                <i class='bx bx-user-circle icon' ></i>
                <a class="text nav-text" >{{ session.level }} | {{ session.nama }}</a>                    
              </li>

              <ul class="menu-links">
                  <li class="nav-link">
                      <a href="/beranda">
                          <i class='bx bx-home-alt icon' ></i>
                          <span class="text nav-text">Beranda</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="restrukturisasi">
                          <i class='bx bx-notepad icon' ></i>
                          <span class="text nav-text">Restrukturisasi</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="/register">
                          <i class='bx bxs-file-plus icon'></i>
                          <span class="text nav-text">Register</span>
                      </a>
                  </li>

                 

                 

              </ul>
          </div>

          <div class="bottom-content">
              <li class="">
                  <a href="/logout">
                      <i class='bx bx-log-out icon' ></i>
                      <span class="text nav-text">Keluar</span>
                  </a>
              </li>

              <li class="mode">
                  <div class="sun-moon">
                      <i class='bx bx-moon icon moon'></i>
                      <i class='bx bx-sun icon sun'></i>
                  </div>
                  <span class="mode-text text">Dark mode</span>

                  <div class="toggle-switch">
                      <span class="switch"></span>
                  </div>
              </li>
              
          </div>
      </div>

  </nav>

  <section class="home">
   

    <div class="container">
      <div class="content">
        <form action="" method="POST" id="form" class="form-style-9">
          <h2>Edit Data Debitur (Register Intruksi Pencairan Kredit)</h2>
        
          <div style="display: flex; gap: 270px;"">  
            <div class="form-group fullname">
              <label htmlfor="IPK" class="label-input">
                   No. IPK
                  </label>
                  <input type="text" name="IPK" id="IPK"  class="input-field" value="{{ editipk['NoIPK'] }}">
                </div>
                <div class="form-group fullname">
                  <label htmlfor="Debitur" class="label-input">
                    Nama Debitur
                    </label>
                    <input type="text" name="Debitur" id="Debitur"  class="input-field" value="{{ editipk['NamaDebitur'] }}">
                  </div>
              </div>
                     
            <div style="display: flex; gap: 270px;"">  
              <div class="form-group fullname" style="width: 23%;">
                <label htmlfor="Tanggal Realisasi" class="label-input">
                  Tanggal Realisasi
                </label>
                <input type="date" class="input-field" name="Tanggal Realisasi" value="{{ editipk['TanggalRealisasi'] }}"/>
              </div>
              <div class="form-group fullname" style="width: 23%;">
                <label htmlfor="Tanggal Jatuh Tempo" class="label-input">
                  Tanggal Jatuh Tempo
                </label>
                <input type="date" class="input-field" name="Tanggal Jatuh Tempo" value="{{ editipk['TanggalJatuhTempo'] }}"/>
              </div>
          </div>
            
          <div style="display: flex; gap: 270px;"">  
            <div class="form-group fullname">
              <label htmlfor="Permohonan" class="label-input">
               No. Permohonan
              </label>
              <input type="text" name="Permohonan" id="Permohonan"  class="input-field" value="{{ editipk['NoPermohonan'] }}">
            </div>
            <div class="form-group fullname">
              <label htmlfor="Putusan" class="label-input">
                No. Putusan
                </label>
                <input type="text" name="Putusan" id="Putusan"  class="input-field" value="{{ editipk['NoPutusan'] }}">
              </div>
          </div>

          <div style="display: flex; gap: 270px;"">  
            <div class="form-group fullname">
              <label htmlfor="Rekening" class="label-input">
               No. Rekening
              </label>
              <input type="text" name="Rekening" id="Rekening"  class="input-field" value="{{ editipk['NoRekening'] }}">
            </div>
            <div class="form-group fullname">
              <label htmlfor="Fix/Rate" class="label-input">
                Masa Fix/Rate
                </label>
                <input type="text" name="Fix/Rate" id="Fix/Rate"  class="input-field" value="{{ editipk['MasaFixRate'] }}">
              </div>
          </div>
          
         
          <div class="form-group fullname">
            <label htmlfor="keterangan" class="label-input">
                Keterangan
              </label>
              <textarea name="keterangan" id="" cols="30" rows="2" class="input-field">{{ editipk['Keterangan'] }}</textarea>
            </div>
            <div class="form-group submit-btn" style="width: 440px;">
            <input type="submit" class="btn-ubah" value="Selesai" name="button_tambah_data"/>
        </form>
        </div>
      </div>
    </div>

  </section>

  <script>
      const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    searchBtn = body.querySelector(".search-box"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
  sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
  sidebar.classList.remove("close");
})

modeSwitch.addEventListener("click" , () =>{
  body.classList.toggle("dark");
  
  if(body.classList.contains("dark")){
      modeText.innerText = "Light mode";
  }else{
      modeText.innerText = "Dark mode";
      
  }
});
  </script>

</body>
</html>


  