<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='Register PPND/edit_RegisterPPND.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Register PPND</title>
</head>
<body>
  <div class="body">
    <div class="sidebar">
      <header class="header">BRI-Minder</header>
      <ul class="ul">
        
        <li>
          <a href="/beranda" >
            <img
              src="https://img.icons8.com/windows/48/FFFFFF/home-page.png"
               />
            <p>BERANDA</p>
          </a>
        </li>
        <li>
          <a href="/restrukturisasi" >
            <img src="https://img.icons8.com/ios/45/FFFFFF/overtime.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>RESTRUKTURISASI</p>
          </a>
        </li>
        <li>
          <a href="/register/ppnd2"class="active" >
            <img src="https://img.icons8.com/external-outline-geotatah/48/102d81/external-register-training-management-system-outline-geotatah.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>REGISTER</p>
          </a>
        </li>
        <li>
          <a href="/logout" >
            <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>KELUAR</p>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="head">
      <div class="wrap-bagianAtas">
        <div class="bagianAtas">
          <h2>Edit Data Debitur (Register PPND)</h2>
        </div>
      </div>
  
      <div class="wrap-table">
        <form action="" method="POST" id="form">
            <div class="flex-input">
            <div class="wrap-input">
                <label htmlfor="PPND" class="label-input">
                  Nomer PPND
                </label>
                <input type="text" class="input-field"  name="PPND" value="{{ editppnd2['NoPPND'] }}"/>
              </div>
              <div class="wrap-input">
                <label htmlfor="Nama Debitur" class="label-input">
                  Nama Debitur
                </label>
                <input type="text" class="input-field"  name="Nama Debitur" value="{{ editppnd2['Nama'] }}"/>
              </div>
              </div>

              <div class="flex-input">
              <div class="wrap-input">
                <label htmlfor="tanggal" class="label-input">
                  Tanggal Realisasi
                </label>
                <input type="date" class="input-field" name="tanggal" value="{{ editppnd2['TanggalRealisasi'] }}"/>
              </div>                       
             <div class="wrap-input">
            <label htmlfor="Jenis Pinjaman" class="label-input">
             Jenis Pinjaman
            </label>
            <input type="text" name="Jenis Pinjaman" id="Jenis Pinjaman"  class="input-field" value="{{ editppnd2['JenisPinjaman'] }}"/>
          </div>
        </div>

        <div class="flex-input">
          <div class="wrap-input">
            <label htmlfor="Jenis Dokumen Yang Ditunda" class="label-input">
              Jenis Dokumen Yang Ditunda
            </label>
            <input type="text" class="input-field"  name="Jenis Dokumen Yang Ditunda" value="{{ editppnd2['JenisDokumenYangDitunda'] }}"/>
          </div> 
          <div class="wrap-input">
            <label htmlfor="Lama PPND (Hari)" class="label-input">
              Lama PPND (Hari)
            </label>
            <input type="text" class="input-field"  name="Lama PPND (Hari)" value="{{ editppnd2['LamaPPND'] }}"/>
          </div> 
        </div>     
                 
        <div class="wrap-input">
            <label htmlfor="Tanggal Diserahkan Dokumen" class="label-input">
              Tanggal Diserahkan Dokumen
            </label>
            <input type="date" class="input-field" name="Tanggal Diserahkan Dokumen" value="{{ editppnd2['TanggalDiserahkanDokumen'] }}"/>
          </div>
              
            
            <input type="submit" class="btn-ubah" value="Selesai" name="button_tambah_data"/>
        </form>
        </div>
      </div>
    </div>
</body>
</html>