<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='Register Peminjaman Berkas 1/detail_Register Peminjaman Berkas 1.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Register Peminjaman Berkas 1</title>
    
</head>

<body>

  <div class="body">
    <div class="sidebar">
      <header class="header">BRI-Minder</header>
      <ul class="ul">
        
        <li>
          <a href="" >
            <img
              src="https://img.icons8.com/windows/48/FFFFFF/home-page.png"
               />
            <p>BERANDA</p>
          </a>
        </li>
        <li>
          <a href="" >
            <img src="https://img.icons8.com/ios/45/FFFFFF/overtime.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>RESTRUKTURISASI</p>
          </a>
        </li>
        <li>
          <a href=""class="active" >
            <img src="https://img.icons8.com/external-outline-geotatah/48/102d81/external-register-training-management-system-outline-geotatah.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>REGISTER</p>
          </a>
        </li>
        <li>
          <a href="" >
            <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>KELUAR</p>
          </a>
        </li>
      </ul>
    </div>
      <div class="head">
        <div class="bagianAtas">
          <div class="inline">
            
            <h2 class="jadwal">Register Peminjaman Berkas 1</h2>
            <label htmlfor="cari" class="label-input"></label> 
            <div class="wrap-input">    
              <input type="text" class="input-field" name="cari" placeholder="Cari Debitur" form="form"></input>
            </div>
          </div>
            
          
            <div class="table">
              <a href="" >
                  

            
            <div>
              <a href="/register/pb1/tambah">
              <button
                class="btn_tambah"
              >
                Tambah Data Debitur
              </button>
              </a>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Tanggal</th>                  
                  <th>Nama Debitur</th>
                  <th>Dok yang dipinjam</th>                 
                  <th>Nama Peminjam</th>                                   
                  <th>Keperluan</th>
                  <th>Tanggal Kembali</th>
                  <th>Kelengkapan Dokumen</th>
                  <th>Pinjam (paraf)</th>  
                  <th>Kembali (paraf)</th>                 
                  <th>edit</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for pb1 in pb1 %}
                <tr>
                  <td>{{ pb1['Tanggal'] }}</td>
                  <td>{{ pb1['NamaDebitur'] }}</td>
                  <td>{{ pb1['DokyangDipinjam'] }}</td>
                  <td>{{ pb1['NamaPeminjam'] }}</td>
                  <td>{{ pb1['Keperluan'] }}</td>
                  <td>{{ pb1['TanggalKembali'] }}</td>
                  <td>{{ pb1['KelengkapanDokumen'] }}</td>
                  <td>{{ pb1['Pinjamparaf'] }}</td>
                  <td>{{ pb1['Pinjamparaf'] }}</td>
                  <td>
                    <a href="/register/pb1/edit/{{ pb1['NamaDebitur'] }}" >
                       
                      <img
                        src="https://img.icons8.com/material-sharp/20/102d81/edit--v1.png"
                      />                      
                    </a>  
                 </td>


                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>
</html>