<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='Register TTS Notaris/tambah_RegisterTTSNotaris.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
  <link rel="stylesheet" href="style.css">
    
    <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
  <!--<title>Dashboard Sidebar Menu</title>--> 
  <title>Register Tanda Terima Sertifikat ke Notaris</title>
</head>
<

<body>
  <nav class="sidebar close">
      <header>
          <div class="image-text">
              <span class="image">
                <img src="{{ url_for('static', filename='icon/bank-bri.jpg') }}" alt="logo_img" />
              </span>

              <div class="text logo-text">
                  <span class="name">BRIMINDER</span>
                  <span class="profession">KC BRI Teluk Betung</span>
              </div>
          </div>

          <i class='bx bx-chevron-right toggle'></i>
      </header>

      <div class="menu-bar">
          <div class="menu">

              <li class="search-box">
                <i class='bx bx-user-circle icon' ></i>
                <a class="text nav-text" >{{ session.level }} | {{ session.nama }}</a>                    
              </li>

              <ul class="menu-links">
                  <li class="nav-link">
                      <a href="/beranda">
                          <i class='bx bx-home-alt icon' ></i>
                          <span class="text nav-text">Beranda</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="/restrukturisasi">
                          <i class='bx bx-notepad icon' ></i>
                          <span class="text nav-text">Restrukturisasi</span>
                      </a>
                  </li>

                  <li class="nav-link">
                      <a href="/register">
                          <i class='bx bxs-file-plus icon'></i>
                          <span class="text nav-text">Register</span>
                      </a>
                  </li>

                 

                 

              </ul>
          </div>

          <div class="bottom-content">
              <li class="">
                  <a href="/logout">
                      <i class='bx bx-log-out icon' ></i>
                      <span class="text nav-text">Keluar</span>
                  </a>
              </li>

              <li class="mode">
                  <div class="sun-moon">
                      <i class='bx bx-moon icon moon'></i>
                      <i class='bx bx-sun icon sun'></i>
                  </div>
                  <span class="mode-text text">Dark mode</span>

                  <div class="toggle-switch">
                      <span class="switch"></span>
                  </div>
              </li>
              
          </div>
      </div>

  </nav>

  <section class="home">
   

    <div class="container">
      <div class="content">
        <form action="" method="POST" id="form" class="form-style-9">

          <h2>Form Penambahan Data Debitur (Register Tanda Terima Sertifikat ke Notaris)</h2>
         
          <div style="display: flex; gap: 265px;">
            <div class="form-group fullname">
              <label htmlfor="Nama Debitur" class="label-input">
                  Nama Debitur
                </label>
                <input type="text" class="input-field"  name="Nama Debitur" value=""/>
              </div>          
              <div class="form-group fullname">
                <label htmlfor="No. SHM / SHGB" class="label-input">
              No. SHM / SHGB
            </label>
            <input type="text" class="input-field"  name="No. SHM / SHGB" value=""/>
          </div>
          </div>
          <div style="display: flex; gap: 265px;">
            <div class="form-group fullname" style="width: 23%;">
              <label htmlfor="Tanggal Sertifikat" class="label-input">
              Tanggal Sertifikat
            </label>
            <input type="date" class="input-field" name="Tanggal Sertifikat" value=""/>
          </div>
          <div class="form-group fullname">
            <label htmlfor="Nomor Surat Ukur" class="label-input">
              Nomor Surat Ukur
            </label>
            <input type="text" class="input-field"  name="Nomor Surat Ukur" value=""/>
          </div>
          </div>

          <div style="display: flex; gap: 265px;">
            <div class="form-group fullname" style="width: 23%;">
              <label htmlfor="Tanggal Surat Ukur" class="label-input">
                  Tanggal Surat Ukur
                </label>
                <input type="date" class="input-field" name="Tanggal Surat Ukur" value=""/>
              </div>
              <div class="form-group fullname">
                <label htmlfor="Luas(m)" class="label-input">
                 Luas(m)
                </label>
                <input type="text" name="Luas(m)" id="Luas(m)"  class="input-field" >
              </div>
          </div>
            
          <div style="display: flex; gap: 265px;">
            
            <div class="form-group fullname">
              <label htmlfor="Nama Pemilik SHM/SHGB" class="label-input">
                 Nama Pemilik SHM/SHGB
                </label>
                <input type="text" name="Nama Pemilik SHM/SHGB" id="Nama Pemilik SHM/SHGB"  class="input-field" >
              </div>
              <div class="form-group fullname" style="width: 23%;">
                <label htmlfor="Tanggal Penyerahan" class="label-input">
                  Tanggal Penyerahan
                </label>
                <input type="date" class="input-field" name="Tanggal Penyerahan" value=""/>
              </div>
          </div>

          
            
          <div class="form-group fullname" style="width: 23%;">
            <label htmlfor="Tanda Tangan / Nama" class="label-input">
                  Tanda Tangan / Nama
                </label>
                <input type="text" class="input-field"  name="Tanda Tangan / Nama" value=""/>
              </div>
          
          <div class="form-group submit-btn" style="width: 440px;">
            <input type="submit" class="btn-ubah" value="Tambah Data" name="button_tambah_data"/>
        </form>
        </div>
      </div>
    </div>


</section>

<script>
    const body = document.querySelector('body'),
  sidebar = body.querySelector('nav'),
  toggle = body.querySelector(".toggle"),
  searchBtn = body.querySelector(".search-box"),
  modeSwitch = body.querySelector(".toggle-switch"),
  modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
sidebar.classList.remove("close");
})

modeSwitch.addEventListener("click" , () =>{
body.classList.toggle("dark");

if(body.classList.contains("dark")){
    modeText.innerText = "Light mode";
}else{
    modeText.innerText = "Dark mode";
    
}
});
</script>

</body>
</html>





