<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='Register Jasa Konsultasi/detail_Register Jasa Konsultasi.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Register Jasa Konsultasi</title>
    
</head>

<body>

  <div class="body">
    <div class="sidebar">
      <header class="header">BRI-Minder</header>
      <ul class="ul">
        
        <li>
          <a href="/beranda" >
            <img
              src="https://img.icons8.com/windows/48/FFFFFF/home-page.png"
               />
            <p>BERANDA</p>
          </a>
        </li>
        <li>
          <a href="/restrukturisasi" >
            <img src="https://img.icons8.com/ios/45/FFFFFF/overtime.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>RESTRUKTURISASI</p>
          </a>
        </li>
        <li>
          <a href="/register"class="active" >
            <img src="https://img.icons8.com/external-outline-geotatah/48/102d81/external-register-training-management-system-outline-geotatah.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>REGISTER</p>
          </a>
        </li>
        <li>
          <a href="/logout" >
            <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>KELUAR</p>
          </a>
        </li>
      </ul>
    </div>
      <div class="head">
        <div class="bagianAtas">
          <div class="inline">
            
            <h2 class="jadwal">Register Jasa Konsultasi</h2>
            <label htmlfor="cari" class="label-input"></label> 
            <div class="wrap-input">    
              <input type="text" class="input-field" placeholder="Cari Berdasarkan Nama" id="myInput" onkeyup="myFunction()"></input>
            </div>
          </div>
            
          
            <div class="table">
              <a href="" >
                  

            
            <div>
              <a href="/register/jasakonsultasi/tambah">
              <button
                class="btn_tambah"
              >
                Tambah Data Debitur
              </button>
              </a>
            </div>
            <table id="myTable">
              <thead>
                <tr>
                  <th>Nama + No. Rekening</th>                  
                  <th>Jasa Sesuai PTK</th>
                  <th>Tanggal Setor</th>                 
                  <th>Jumlah yang diterima</th>                                   
                  <th>NPWP</th>
                  <th>PPN</th>
                  <th>PPN</th>
                  <th>DPP</th>                  
                  <th>edit</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for jasakonsultasi in jasakonsultasi %}
                <tr>
                  <td>{{ jasakonsultasi['NamaNoRekening'] }}</td>
                  <td>{{ jasakonsultasi['JasaSesuaiPTK'] }}</td>
                  <td>{{ jasakonsultasi['TanggalSetor'] }}</td>
                  <td>{{ jasakonsultasi['JumlahyangDiterima'] }}</td>
                  <td>{{ jasakonsultasi['NPWP'] }}</td>
                  <td>{{ jasakonsultasi['PPN'] }}</td>
                  <td>{{ jasakonsultasi['PPN_'] }}</td>
                  <td>{{ jasakonsultasi['DPP'] }}</td>             
         
                  <td>
                    <a href="/register/jasakonsultasi/edit/{{ jasakonsultasi['NPWP'] }}" >
                       
                      <img
                        src="{{ url_for('static', filename='icon/edit.png') }}"
                      />                      
                    </a>  
                    <a href="/register/jasakonsultasi/hapus/{{ jasakonsultasi['NPWP'] }}">
                      <img src="{{ url_for('static', filename='icon/delete.png') }}"/>
                    </a> 
                 </td>


                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</body>

<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
</html>