<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='PPND/tambah_PPND.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Register PPND 2</title>
</head>
<body>
  <div class="body">
    <div class="sidebar">
      <header class="header">BRI-Minder</header>
      <ul class="ul">
        
        <li>
          <a href="/beranda" >
            <img
              src="{{ url_for('static', filename='icon/berandaputih.png') }}"
               />
            <p>BERANDA</p>
          </a>
        </li>
        <li>
          <a href="/restrukturisasi" >
            <img src="{{ url_for('static', filename='icon/restrukputih.png') }}"  />
            <p>RESTRUKTURISASI</p>
          </a>
        </li>
        <li>
          <a href="/register/PPND2"class="active" >
            <img src="{{ url_for('static', filename='icon/registerbiru.png') }}"  />
            <p>REGISTER</p>
          </a>
        </li>
        <li>
          <a href="/logout" >
            <img src="{{ url_for('static', filename='icon/exitputih.png') }}"  />
            <p>KELUAR</p>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="head">
      <div class="wrap-bagianAtas">
        <div class="bagianAtas">
          <h2>Edit Data Debitur (Register PPND 2)</h2>
        </div>
      </div>
  
      <div class="wrap-table">
        <form action="{{ url_for('editppnd2', NoPPNdanTanggalPPN= editppnd['NoPPNdanTanggalPPN']) }}" method="POST" id="form">
            <div class="flex-input">
                <div class="wrap-input">
                  <label htmlfor="No. PPND dan Tanggal PPND" class="label-input">
                   No. PPND dan Tanggal PPND
                  </label>
                  <input type="text" name="No. PPND dan Tanggal PPND" id="No. PPND dan Tanggal PPND"  class="input-field" value="{{ editppnd['NoPPNdanTanggalPPN'] }}">
                </div>
                <div class="wrap-input">
                    <label htmlfor="Nama Debitur" class="label-input">
                    Nama Debitur
                    </label>
                    <input type="text" name="Nama Debitur" id="Nama Debitur"  class="input-field" value="{{ editppnd['NamaDebitur'] }}">
                  </div>
              </div>
                  
              <div class="flex-input">
                <div class="wrap-input">
                  <label htmlfor="Alamat No. Telp/HP" class="label-input">
                   Alamat No. Telp/HP
                  </label>
                  <input type="text" name="Alamat No. Telp/HP" id="Alamat No. Telp/HP"  class="input-field" value="{{ editppnd['AlamatdanNoTeleponHP'] }}">
                </div>
                <div class="wrap-input">
                    <label htmlfor="Jenis Fasilitas Kredit" class="label-input">
                    Jenis Fasilitas Kredit
                    </label>
                    <input type="text" name="Jenis Fasilitas Kredit" id="Jenis Fasilitas Kredit"  class="input-field" value="{{ editppnd['JenisFasilitasKredit'] }}">
                  </div>
              </div>

              <div class="flex-input">
                <div class="wrap-input">
                  <label htmlfor="Jenis Dok Kredit yang Ditunda" class="label-input">
                   Jenis Dok Kredit yang Ditunda
                  </label>
                  <input type="text" name="Jenis Dok Kredit yang Ditunda" id="Jenis Dok Kredit yang Ditunda"  class="input-field" value="{{ editppnd['JenisDokKredityangDitunda'] }}">
                </div>
                <div class="wrap-input">
                    <label htmlfor="Lamanya ditunda" class="label-input">
                   Lamanya ditunda
                    </label>
                    <input type="text" name="Lamanya ditunda" id="Lamanya ditunda"  class="input-field" value="{{ editppnd['LamanyaDitunda'] }}">
                  </div>
              </div>

          <div class="flex-input">
            <div class="wrap-input">
                <label htmlfor="Tanggal Batas Akhir" class="label-input">
                  Tanggal Batas Akhir
                </label>
                <input type="date" class="input-field" name="Tanggal Batas Akhir" value="{{ editppnd['TanggalBatasAkhir'] }}">
              </div>
              <div class="wrap-input">
                <label htmlfor="Pejabat Pemrakarsa" class="label-input">
                    Pejabat Pemrakarsa
                </label>
                <input type="text" name="Pejabat Pemrakarsa" id="Pejabat Pemrakarsa"  class="input-field" value="{{ editppnd['PejabatPemrakarsa'] }}">
              </div>
          </div>
            
          <div class="flex-input">
            <div class="wrap-input">
              <label htmlfor="Pejabat Pemutus" class="label-input">
               Pejabat Pemutus
              </label>
              <input type="text" name="Pejabat Pemutus" id="Pejabat Pemutus"  class="input-field" value="{{ editppnd['PejabatPemutus'] }}">
            </div>
                     
          <div class="wrap-input">
            <label htmlfor="keterangan" class="label-input">
                Keterangan
              </label>
              <textarea name="keterangan" id="" cols="30" rows="10" class="input-field">{{ editppnd['Keterangan'] }}</textarea>
            </div>
          </div>
            <input type="submit" class="btn-ubah" value="Selesai" name="button_tambah_data"/>
        </form>
        </div>
      </div>
    </div>
</body>
</html>