<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='Register Peminjaman Berkas 1/edit_Register Peminjaman Berkas 1.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Register Peminjaman Berkas 1 </title>
</head>
<body>
  <div class="body">
    <div class="sidebar">
      <header class="header"> <img class="gambar" src="{{ url_for('static', filename='icon/login-18.png') }}"></header>
      <ul class="ul">
        
        <li>
          <a href="/beranda" >
            <img
              src="https://img.icons8.com/windows/48/FFFFFF/home-page.png"
               />
            <p>BERANDA</p>
          </a>
        </li>
        <li>
          <a href="/restrukturisasi" >
            <img src="https://img.icons8.com/ios/45/FFFFFF/overtime.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>RESTRUKTURISASI</p>
          </a>
        </li>
        <li>
          <a href="/register/pb1"class="active" >
            <img src="https://img.icons8.com/external-outline-geotatah/48/102d81/external-register-training-management-system-outline-geotatah.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>REGISTER</p>
          </a>
        </li>
        <li>
          <a href="/logout" >
            <img src="https://img.icons8.com/windows/48/FFFFFF/exit.png"  />
            <!-- <a target="_blank" href="https://icons8.com/icon/22112/logout">Logout icon by Icons8</a> -->
            <p>KELUAR</p>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="head">
      <div class="wrap-bagianAtas">
        <div class="bagianAtas">
          <h2>Edit Data Debitur (Register Peminjaman Berkas 1)</h2>
        </div>
      </div>
  
      <div class="wrap-table">
        <form action="" method="POST" id="form" class="form-style-9">
            <div class="flex-input">
                <div class="wrap-input">
                    <label htmlfor="tanggal" class="label-input">
                      Tanggal
                    </label>
                    <input type="date" class="input-field" name="tanggal" value="{{ editpb1['Tanggal'] }}"/>
                  </div>
               
                <div class="wrap-input">
                    <label htmlfor="Nama Debitur" class="label-input">
                    Nama Debitur
                    </label>
                    <input type="text" name="Nama Debitur" id="Nama Debitur"  class="input-field" value="{{ editpb1['NamaDebitur'] }}" >
                  </div>
              </div>
                     
          <div class="flex-input">
            <div class="wrap-input">
                <label htmlfor="Dok yag dipinjam" class="label-input">
                 Dok yag dipinjam
                </label>
                <input type="text" name="Dok yag dipinjam" id="Dok yag dipinjam"  class="input-field" value="{{ editpb1['DokyangDipinjam'] }}">
              </div>
              <div class="wrap-input">
                <label htmlfor="Nama Peminjam" class="label-input">
                 Nama Peminjam
                </label>
                <input type="text" name="Nama Peminjam" id="Nama Peminjam"  class="input-field" value="{{ editpb1['NamaPeminjam'] }}" >
              </div>
          </div>
            
          <div class="flex-input">
             <div class="wrap-input">
                  <label htmlfor="Keperluan" class="label-input">
                   Keperluan
                  </label>
                  <input type="text" name="Keperluan" id="Keperluan"  class="input-field"  value="{{ editpb1['Keperluan'] }}">
                </div>
                <div class="wrap-input">
                    <label htmlfor="tanggal" class="label-input">
                      Tanggal Kembali
                    </label>
                    <input type="date" class="input-field" name="tanggal" value="{{ editpb1['TanggalKembali'] }}"/>
                  </div>
          </div>

          <div class="flex-input">
            <div class="wrap-input">
              <label htmlfor=" Kelengkapan Dok" class="label-input">
               Kelengkapan Dok
              </label>
              <input type="text" name="Kelengkapan Dok" id=" Kelengkapan Dok"  class="input-field" value="{{ editpb1['KelengkapanDokumen'] }}" >
            </div>
            <div class="wrap-input">
            <label htmlfor="Pinjam" class="label-input">
                Pinjam
               </label>
               <input type="text" name="Pinjam" id="Pinjam"  class="input-field" value="{{ editpb1['Pinjamparaf'] }}" >
             </div>
            </div>
          <div class="wrap-input">
            <label htmlfor="Kembali" class="label-input">
                Kembali
              </label>
              <textarea name="Kembali" id="" cols="30" rows="10" class="input-field">{{ editpb1['Kembaliparaf'] }}</textarea>
            </div>
            
            
            <input type="submit" class="btn-ubah" value="Selesai" name="button_tambah_data"/>
        </form>
        </div>
      </div>
    </div>
</body>
</html>